.There-are-new-questi {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8f6105;
}

.YellowRectangle {
    max-width: 764px;
    border-radius: 8px;
    border: solid 1px #8f6105;
    background-color: #fff7c7;
}

.Add-Overall-Padding {
    padding: 8px;
    margin: 0px;
}

.Add-Space-Left {
    padding-left: 8px;
}

.Remove-Bold {
    font-weight: normal;
}

.WhiteRectangle {
    /* width: 328px;
    height: 130px; */
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}

.Current-Job-Title {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.71px;
    color: #0a2f51;
}

.Current-Job-Company {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #0a2f51;
}

.Oval {
    width: 98px;
    height: 98px;
    border: solid 5px #979797;
    border-radius: 50%;
}

.XX {
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #0a2f51;
}