[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border: 2px dotted  #0a2f51;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px dotted #0a2f51;
    background-color: #0a2f51;
    z-index: 0;
}

.-Input-Text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a2f51;
}

