/* .heading {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #0a2f51;
}

.question {
    width: 174px;
    height: 24px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a2f51;
    display: block;
}
*/

.heading-questions {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #0a2f51;
    margin: 12px 0px 4px;
}

.subheading-questions {
    font-size: 18px;
    margin: 0px 0px 15px;
}

.explainer {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #637c92;
    text-decoration: underline;
    margin-bottom: 34px;
}

