.-Input-Text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a2f51;
}

[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
    border: dotted 2px #637c92;
}

[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:after {
 
  background-color:#637c92;
  border: dotted 2px #637c92;
 
}