.Button {
  width: 171px;
  height: 56px;
  border-radius: 28px;
  background-color: #ff4038;
}

.Button:active {
background-color: #ff4038;
}

.Button:link {
  background-color: #ff4038;
}

.Button:visited {
  background-color: #ff4038;
}

.Button:hover {
  background-color: #ff4038;
}

.-Button-Text {
  /* width: 236px;
  height: 14px; */
  font-family: 'Inter';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}