.crop {
    height: 200px;
    width: 300px;
    overflow: hidden;
    margin: 10px 20px 10px 0px;
}

.crop input {
    height: auto;
    width: 300px;
}

img:active {
    border: 2px #fee07d solid;
}

img:focus {
    border: 2px #fee07d solid;
}

img:hover {
    border: 2px #fee07d solid;
}

img:checked {
    border: 2px #fee07d solid;
}

label:active {
    color: #0a2f51;
}

.no-border {
    border: none !important;
}