@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.Catchy-Tagline {
    padding-top: 199px;
    width: 612px;
    height: 36px;
    font-family: 'Inter';
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #8f8e8d;
}

.Body-Copy {
    padding-top: 32px;
    width: 621px;
    height: 120px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8f8e8d;
}
