nav{
  background: none;
  box-shadow: none;
}

nav ul a{
  color:#0a2f51;
  transition: none;
  padding: 0px;
  margin: 0px 15px;
}

.nav-wrapper {
  margin-top: 32px;
}

.userName{
  font-size: 100%;
  color:black;

}

a {
  line-height: 45px;
  /* display: initial !important; */
}


/* nav ul a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

a:link {
  text-decoration: none;
  box-shadow: inset 0 -7px 0 0 #fee07d;
}

a:hover:link {
  background-color: #fee07d !important;
  transition: background-color 300ms linear;
}
 */

li {
  line-height: initial;
}

