nav{
  background: none;
  box-shadow: none;
}

a.brand-logo{
  color: black;
}

nav ul a{
  color: black;
}

.userName{
  font-size: 100%;
  color:black;

}

@media only screen and (max-width: 992px){
nav #brandLogo {
    left: 15%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
}

