nav{
  background: none;
  box-shadow: none;
}


nav ul a{
  color:#0a2f51;
}

.userName{
  font-size: 100%;
  color:black;

}

@media only screen and (max-width: 992px){
nav #brandLogo {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
}

